<!-- Header Lower -->
        <div class="header-lower">
          <div class="auto-container">
              <div class="lower-outer clearfix">
                    <!--Logo-->
                    <div class="logo"><a href="#"><img src="/images/logo-3.png" alt="Bulldozer" title="Dream Land"></a></div>

                    <!--Right Container-->

                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>

                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation">
                                <li class="current dropdown"><a href="index/">Home</a>
                                    <ul>
                                        <li><a href="/index-1/">Homepage One</a></li>
                                        <li><a href="/index-2/">Homepage Two</a></li>
                                        <li><a href="/index-3/">One page Style</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/video-tour/">Pages</a>
                                    <ul>
                                        <li><a href="/video-tour/">Video Tour</a></li>
                                        <li><a href="/gallery/">Gallery</a></li>
                                        <li class="dropdown"><a href="/blog-two-column/">Sidebar Page</a>
                                            <ul>
                                                <li><a href="/blog-leftbar/">Left Sidebar</a></li>
                                                <li><a href="/blog/">Right Sidebar</a></li>
                                                <li><a href="/blog-detail/">Blog Details</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="/about/">About US</a></li>
                                <li class="dropdown"><a href="/gallery/">Gallery</a>
                                    <ul>
                                        <li><a href="/gallery/">Gallery Full Width</a></li>
                                        <li><a href="/gallery-2/">Gallery Boxed</a></li>
                                    </ul>
                                </li>
                                <li><a href="/video-tour/">Video Tour</a></li>
                                <li class="dropdown"><a href="/blog/">Blog</a>
                                    <ul>
                                        <li><a href="/blog/">Blog</a></li>
                                        <li><a href="/blog-two-column/">Blog Two Column</a></li>
                                        <li><a href="/blog-detail/">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact/">Contact Us</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
              </div>
            </div>

        </div>
