{{ partial "head.html" . }}

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="preloader"></div>

    <header class="main-header header-style-two">
      {{ partial "header-topbar.html" . }}
      {{ partial "header-navbar.html" . }}
    </header>

    {{ if .Params.displaytitle }}
     {{ partial "page-title.html" . }}
    {{end}}

<!-- {{ partial "dreamland/header-style-two.html" . }} -->

{{ .Content }}

{{ partial "dreamland/main-footer.html" . }}

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>

{{ partial "footer.html" . }}
