<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/revolution.min.js"></script>
<script src="/javascripts/jquery.mixitup.js"></script>
<script src="/javascripts/jquery.fancybox.pack.js"></script>
<script src="/javascripts/owl.js"></script>
<script src="/javascripts/validate.js"></script>
<script src="http://maps.google.com/maps/api/js"></script>
<script src="/javascripts/googlemaps.js"></script>
<script src="/javascripts/wow.js"></script>

<!-- Used by Video Tour-->
<script src="/javascripts/masterslider/jquery.easing.min.js"></script>
<script src="/javascripts/masterslider/masterslider.min.js"></script>




<script src="/javascripts/script.js"></script>
</body>
</html>
