  <!-- Header Top -->
  <div class="header-top">
      <div class="auto-container clearfix">

            <!-- Top Right -->
            <div class="top-right">

                <!--Info-->
                <ul class="info pull-left clearfix">
                    <li class="email"><a href="mailto:companymail@mail.com"><span class="icon flaticon-email2"></span> companymail@gmailcom</a></li>
                    <li class="phone"><a href="#"><span class="icon flaticon-phone325"></span> (880) 172 380 1729 </a></li>
                </ul>

                <!--Social Links-->
                <div class="social-links pull-left clearfix">
                  <a href="#"><span class="fa fa-facebook-f"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                </div>

            </div>

        </div>
    </div>
