{{ partial "head.html" . }}

<div class="page-wrapper">

    <section id="main">
      <h2>Recent Pages</h2>
      <div>
        {{ range first 10 .Data.Pages }}
            {{ .Render "summary"}}
        {{ end }}
      </div>
    </section>

    <section id="main">
      <h2>Dreamland</h2>
      <ul>
        <li><a href="/index-1/">Index 1</a></li>
        <li><a href="/index-2/">Index 2</a></li>
        <li><a href="/index-3/">Index 3</a></li>
      </ul>
    </section>

</div>
<!--End pagewrapper-->

{{ partial "footer.html" . }}
